* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto';
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  min-height: 7vh;
  border-bottom: 2px solid #748EA0;
}

.logo {
  font-size: 3.2em;
  font-weight: bold;
  display: flex;
  align-items: center
}

.logo img {
  height: 6vh;
  margin-left: 10px;
}

.login {
  font-size: 1.8em;
  color: white;
  border: none;
  background-color: #748EA0;
  padding: 0.4em;
  border-radius: 20px;
  min-width: 25vh;
  transition: all .2s ease-in-out;
}

.login:hover {
  background-color: #2F4858;
}

.search-background {
  height: 50vh;
  width: 100vw;
  background-color: #696969;
  max-width: 100%;
  background-image: url(../img/bg1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories {
  min-height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  max-width: 100%;
  padding: 50px 20% 0 20%;
  font-size: 20px;
  padding-bottom: 100px;
  border-top: 2px solid #748EA0;
  color: white;
}

input {
  padding: 20px;
  font-size: 20px;
  border: none;
  min-width: 50vw;
  min-height: 7vh;
  border-radius: 50px 0 0 50px;
  margin-right: -3px;
}

.search-container button {
  padding: 20px;
  background: #748EA0;
  font-size: 20px;
  border: none;
  cursor: pointer;
  min-width: 7vw;
  min-height: 7vh;
  border-radius: 0 50px 50px 0;
  transition: background .2s ease-in-out;

}

.search-container button:hover {
  background: #2F4858;
}

.search {
  height: 20vh;
  width: 100vw;
  background-color: #696969;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------------*/

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  grid-gap: 50px;
}

.container > div {
  position: relative;
  border: 2px solid white;
  box-sizing: border-box;
  background-color: #2F4858;
  transition: all .2s linear;
}

.container > div:hover {
  transform: scale(1.06);
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.5);
}

.container > div::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.content img {
  border-radius: 50%;
  max-width: 70%;
}

.footer {
  font-size: 20px;
  padding: 40px;
  background-color: #2F4858;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
}

.results-container {
  display: flex;
}

.number {
  background-color: fff;
  text-align: center;
  color: #000;
  font-size: 40px;
  padding: 30px;
  font-weight: 700;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.side-menu {
  font-size: 30px;
  line-height: 1.5;
  background: rgb(144, 170, 188);
  min-width: 200px;
  padding: 40px;
}

.side-menu li {
  list-style-type: none;
}

.results {
  background-color: #d1d1d1;
  min-height: 30vh;
  width: 100%;
  padding: 0 20px 0 20px;
}

.result {
  font-size: 30px;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 1px solid #818181;
  display: flex;
}

.logo1 {
  min-width: 100px;
  max-width: 40%;
  border: 2px solid #696969;
  margin-right: 30px;
}

.login-container {
  display: flex;
  justify-content: space-around
}

.login-tile {
  height: 500px;
  border: 1px solid #000;
  min-width: 30%;
}
